@if (services$ | async; as services) {
  <div
    id="services"
    class="scrollto clearfix"
    >
    <div class="row no-padding-bottom clearfix">
      <!--Content Left Side-->
      <!-- <div class="col-3"> -->
        <!--User Testimonial-->
        <!-- <blockquote class="testimonial text-right bigtest">
          <q
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua</q
            >
            <footer>— John Doe, Happy Customer</footer>
          </blockquote> -->
          <!-- End of Testimonial-->
        <!-- </div> -->
        <!--End Content Left Side-->
        <!--Content of the Right Side-->
        <div class="col-2">
          <div class="section-heading">
            <h3>{{ services.tagline }}</h3>
            <h2 class="section-title">{{ services.title }}</h2>
            <p class="section-subtitle">{{ services.description }}</p>
          </div>

         <b> Here's what sets my services apart: </b>
<br><br>
<ul>
  <li> I understand the unique needs of coffee shops, from showcasing your menu to creating a warm and inviting online atmosphere.</li>
  <li>In today's world, ensuring your website looks amazing and functions flawlessly on phones and tablets is crucial.</li>
  <li>Integrate your menu seamlessly, allowing customers to browse your delicious offerings and potentially order online (depending on your chosen plan).</li>
  <li> High-quality photos will showcase your coffee, ambiance, and the passion behind your shop.</li>
  <li>Attract customers searching for "coffee shops near me" by optimizing your website for local search engines.</li>
  <li> Choose from a variety of website packages, each offering features tailored to your specific needs and budget.</li>
</ul>
<br><br>
<!-- <b>For a truly caffeinated online presence, consider these additional services:</b>
<br>
<ul>
    <li><b>Online Ordering System:</b> Make it easy for customers to order their favorite drinks and treats directly from your website. (Optional depending on your plan)</li>
    <li><b>Reservation System: </b>Allow customers to book a table for a relaxing coffee experience. (Optional depending on your plan)</li>
    <li><b>Marketing Magic:</b> Integrate social media and email marketing tools to connect with your customers and keep them coming back for more. (May be included in higher-tier plans)</li>
    <li><b>Content Management System Training:</b> Learn how to easily update your website with fresh content and news. (May be included in higher-tier plans)</li>
</ul>
<br><br> -->
<p>I'm passionate about helping coffee shops like yours thrive online. Let's create a website that reflects the unique character of your shop and fuels your business growth! Contact me today for a free consultation and discuss how I can brew up the perfect website for your coffee shop.</p>
          <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
          <a
            href="https://calendly.com/frontendo-official/consultation-call"
            class="button video link-lightbox">
            <!-- WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i> -->
            CONTACT NOW
          </a>
        </div>
        <!--End Content Right Side-->
        <div class="col-2">
          <img src="assets/images/dancer.jpg" class="service-image" alt="Dancer" />
        </div>
      </div>
    </div>
  }
